/*  grey Header & Header containers for logo, searchbox, login button &  user profile    */
.header-main-container {
    background-color:#263238;
    height: 36px;
    padding: 8px 32px 8px 16px;
    display: flex;
    justify-content: space-between;
}
.header-logo-container, .header-search-container, .header-upload-btn-container, .header-profile-btn-container {
  align-self: center;
}
/* esale logo css */
.logo-title-container {
    float: left;
    color:white;
}

/*  account circle icon having a padding on right   */
.accountCircle-logo {
  padding-right: 6%;
}